html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    div= message
    div
      form(method="POST" action="/admin")
        label(for="username") Username:
        input(name="username" id="username" type="username")
        br
        label(for="password") Password:
        input(name="password" id="password" type="text")
        br
        input(type="Submit")
